@import 'src/assets/styles/app-variables';

.user-menu {
  width: 100%;
  position: relative;
}

.user-menu__opener {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: $rounded-full;
  padding: var(--05, 2px);
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}

.user-menu__opener:hover {
  background-color: $gray-200;
}

.user-menu--font {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.user-menu__opener-icon,
.user-menu__opener-label {
  margin-right: 6px;
  margin-left: 8px;
}

.user-menu__opener-avatar {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $rounded-full;
  border: 1px solid $gray-200;
  background-color: $gray-200;
}

.user-menu__content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.user-menu__content--visible {
  width: max-content;
  z-index: 999;
  left: -30%;
  border-radius: 8px;
  background-color: $app-white;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-in-out;
}

.user-menu__content-item {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.user-menu__content-header {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid $gray-100;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.user-menu__content-header-name {
  color: $gray-800;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.user-menu__content-header-avatar {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-full, 9999px);
  border: 1px solid $gray-200;
  background-color: $gray-200;
  margin-right: 8px;
}

.user-menu__content-item-icon {
  margin-right: 8px;
}

.user-menu__content-logout {
  background-color: $red-100;
  color: #F05252;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.user-menu__content-header,
.user-menu__content-item {
  transition: background-color 0.2s ease-in-out;
}

.user-menu__content-header:hover,
.user-menu__content-item:hover {
  background-color: $gray-100;
}