@import 'src/assets/styles/app-variables.scss';

.app-tabs {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 100%;
  padding-left: $header-hor-padding;
  background-color: $app-white;
}

.app-tabs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;

  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  transition: 
    border-bottom 0.1s ease-in,
    color 0.1s ease-in;
}

.app-tabs__item--selected {
  border-bottom: 2px solid $primary-600;
  color: $primary-600;
}