.main-page__container {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  min-height: 100vh;
}

.main-page__flex-container {
  height: 100%;
  display: flex;
  background-color: lightgrey;
}

.main-page__left, .main-page__right {
  width: 50%;
  border: 1px solid black;
  min-height: 100vh;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse; /* Collapses double borders into a single border */
  table-layout: fixed;
  overflow-wrap: break-word;
}

table, th, td {
  border: 1px solid black;
}

table tr, table th {
  height: 40px;
}

.th-text {
  margin-right: 8px;
}

.main-page__left-actions {
  display: flex;
  padding: 8px;
  height: 50px;
}

.main-page__left-actions-search {
  width: calc(100% - 60px);
  margin-right: 8px;
}

.main-page__left-actions-add {
  width: 54px + 6px;
  display: flex;
  justify-content: flex-end;
}

.main-page__left-table {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.ant-app {
  height: 100% !important;
}

.table-container th {
  /* Make the header sticky */
  position: sticky;
  top: 0; /* Stick to the top of its scrolling container */
  background-color: #f2f2f2; /* Optional: adds a background so content doesn't show through */
  z-index: 10; /* Optional: ensures the header is above other table content */
}