@import 'src/assets/styles/app-variables.scss';

.flat-selection-list {
  width: 100%;
}

.flat-selection-list__item {
  width: 100%;
  display: flex;
  border-radius: var(--rounded-xl, 12px);
  transition: background-color 0.2s ease-in;
  padding: 8px;
  cursor: pointer;
  height: 48px;
  border: 1px solid $gray-200;
}

.flat-selection-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.flat-selection-list__item:hover {
  background-color: $app-white;
}

.flat-selection-list__item--selected {
  background-color: $app-white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

.flat-selection-list__item-icon,
.flat-selection-list__item-title {
  display: flex;
  align-items: center;
}

.flat-selection-list__item-icon {
  margin-right: 8px;
}
