$handbooks-type-width: 25%;

.custom-handbooks {
  width: 100%;
  //height: calc(100vh - 214px);
  display: flex;
}

.custom-handbooks__type {
  width: $handbooks-type-width;
  padding-right: 36px;
}

.custom-handbooks__table {
  width: 100% - $handbooks-type-width;
}

