$handbooks-type-width: 25%;

.system-handbooks {
  width: 100%;
  height: 100%;
  display: flex;
}

.system-handbooks__type {
  width: $handbooks-type-width;
  padding-right: 36px;
}

.system-handbooks__table {
  width: 100% - $handbooks-type-width;
}