.table-caption {
  //display: flex;
  display: none;
  justify-content: flex-start;
  align-items: center;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  padding: 12px;
}
