$app-white:  #FFF;
$app-light-blue: lightblue;
$rounded-full: 9999px;

$gray-50: #F9FAFB;
$gray-200: #E5E7EB;
$gray-100: #F3F4F6;
$gray-800: #1F2A37;

$red-100: #FDE8E8;
$primary-700: #1A56DB;
$primary-50: #EBF5FF;
$primary-500: #3F83F8;
$primary-600: #1C64F2;


$yellow-300: #FACA15;

$header-hor-padding: 24px;
$header-ver-padding: 16px;
